body {
    width: 100%;
    background-color: #49c5b6;
}

div.main {
    display: flex;
    flex-wrap: wrap;
}

div.sub {
    width: 30%;
    height: 5em;
    background-color: #9C9C9C;
    border-style: solid;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div a {
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div a:hover {
    background-color: #fff;
}